@mixin media($type, $direction: min) {
  $mobile: 480px;
  $mini-tablet: 425px;
  $big-tablet: 768px;
  $mini-desktop: 1024px;
  $big-desktop: 1440px;

  @if $type == "mobile" and $direction == "min" {
    @media screen and (min-width: $mobile) {
      @content;
    }
  }

  @if $type == "mini-tablet" and $direction == "max" {
    @media screen and (max-width: ($mini-tablet - 0.02px)) {
      @content;
    }
  }

  @if $type == "tablet" and $direction == "min" {
    @media screen and (min-width: $big-tablet) {
      @content;
    }
  }

  @if $type == "tablet" and $direction == "max" {
    @media screen and (max-width: ($big-tablet - 0.02px)) {
      @content;
    }
  }

  @if $type == "mini-desktop" and $direction == "min" {
    @media screen and (min-width: $mini-desktop) {
      @content;
    }
  }

  @if $type == "mini-desktop" and $direction == "max" {
    @media screen and (max-width: ($mini-desktop - 0.02px)) {
      @content;
    }
  }

  @if $type == "big-desktop" and $direction == "min" {
    @media screen and (min-width: $big-desktop) {
      @content;
    }
  }

  @if $type == "big-desktop" and $direction == "max" {
    @media screen and (max-width: ($big-desktop - 0.02px)) {
      @content;
    }
  }
}
