@mixin media($type, $direction: min) {
  $mobileL: 425px;
  $mobileXL: 480px;
  $tablet: 768px;
  $laptop: 1024px;
  $desktop: 1440px;

  @if $type == "mobileL" and $direction == "min" {
    @media screen and (min-width: $mobileL) {
      @content;
    }
  }

  @if $type == "mobileL" and $direction == "max" {
    @media screen and (max-width: ($mobileL - 0.02px)) {
      @content;
    }
  }

  @if $type == "mobileXL" and $direction == "min" {
    @media screen and (min-width: $mobileXL) {
      @content;
    }
  }

  @if $type == "tablet" and $direction == "min" {
    @media screen and (min-width: $tablet) {
      @content;
    }
  }

  @if $type == "tablet" and $direction == "max" {
    @media screen and (max-width: ($tablet - 0.02px)) {
      @content;
    }
  }

  @if $type == "laptop" and $direction == "min" {
    @media screen and (min-width: $laptop) {
      @content;
    }
  }

  @if $type == "laptop" and $direction == "max" {
    @media screen and (max-width: ($laptop - 0.02px)) {
      @content;
    }
  }

  @if $type == "desktop" and $direction == "min" {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }

  @if $type == "desktop" and $direction == "max" {
    @media screen and (max-width: ($desktop - 0.02px)) {
      @content;
    }
  }
}
