$primary-text-color: #464646;
$secondary-text-color: #181818;
$bcg-color: #fafafa;
$btn-text-color: #e8e8e8;

// $primary-letter-spacing: 0.03em;
// $secondary-letter-spacing: 0.02em;
// $hero-letter-spacing: 0.06em;
// $transition-duration: 250ms;
// $timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$font-family: SF Pro Text, sans-serif;
$radial-gradient: radial-gradient(
  1662.48% 205.49% at 53.54% -74.56%,
  #181818 40.24%,
  #a3a3a3 100%
);
