.hero {
  position: relative;
  padding-top: 40px;
}

.hero__title {
  font-weight: 600;

  @extend %decorative-background-for-title;
}

.hero__first-item,
.hero__second-item {
  display: block;
  padding: 5px;
}

.hero__first-item {
  background: url("/images/hero/item1.png") no-repeat 3px -1px;
}

.hero__second-item {
  background: url("/images/hero/item2.png") no-repeat;
}

.hero__first-item-image {
  position: relative;
  left: 2%;
}

.hero__second-item-image {
  position: relative;
  left: 15%;
  top: 4px;
}
