@import "node_modules/modern-normalize/modern-normalize.css";

.container-wrapper {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;

  @include media(mobile) {
    width: 480px;
  }

  @include media(big-tablet) {
    width: 768px;
  }

  @include media(mini-desktop) {
    width: 1200px;
  }

  @include media(big-desktop) {
    width: 1320px;
  }
}

// .container-wrapper::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: -83%;
//   left: 0;
//   background: url("/images/header/portrait.png") no-repeat right / contain;
// }

// .container {
//   position: relative; /* Это нужно, чтобы псевдоэлементы позиционировались относительно контейнера */
// }

// .container::before {
//   content: "";
//   position: absolute;
//   z-index: -2;
//   top: -10px; /* расстояние рамки от верхней границы */
//   left: -10px; /* расстояние рамки от левой границы */
//   right: -10px; /* расстояние рамки от правой границы */
//   height: 10px; /* толщина рамки */
//   background-color: #ff0000; /* цвет рамки */
// }

// .container::after {
//   content: "";
//   position: absolute;
//   z-index: -2;
//   bottom: -10px; /* расстояние рамки от нижней границы */
//   left: -10px; /* расстояние рамки от левой границы */
//   right: -10px; /* расстояние рамки от правой границы */
//   height: 10px; /* толщина рамки */
//   background-color: #ff0000; /* цвет рамки */
// }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
